/** homepage **/
.padding-1 {
  padding: 1% 8% 0% 8% !important;
}

.card {
  cursor: pointer;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  object-position: -20% 0;
}

figure {
  display: block;
  text-align: center;
}

blockquote p {
  padding: 15px;
  background-color: #eee;
  border-radius: 5px;
}
